
$bgmUrl: 'https://mini.cnbfmy.cn/statics/miniprogram';
// $bgmUrl: '@/cloud/miniprogram';
$theme-bgc:#EEEFF3;

/**
 * 页面初始化 css
 */
@mixin pageInit() {
	width: 100%;
	min-height: 100vh;
	height: auto;
	overflow: hidden;
	background-color: $theme-bgc;
}

/**
 * FLexBox 布局
 * 
 * @include flexBox(center, center, wrap);
 */
@mixin flexBox($justify-content: center, $align-items: center, $flex-wrap: nowrap) {
  display: flex;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

/**
 * 省略 超出 文本
 * 
 * @lineNumber 文字的行数
 @include ellipsis(2); // 将文本限制为2行，超出部分显示为省略号
 */
@mixin ellipsis($lineNumber) {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lineNumber;
  line-clamp: $lineNumber;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}


/**
 * 设置 字体
 * 
 * @size 字体大小
 * @color 字体颜色
 * @weight 字体粗细
 @include fontSet(20px, #ff0000, 700); // 特定的颜色和粗细
 */
@mixin fontSet($size: 24px, $color: '#000', $weight: 400) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

/**
 * 背景图
 *
 * @params img 图片名称
 */
@mixin bmg($img) {
  background-image: url("@/static/images#{$img}");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/**
 * 背景图
 *
 * @params img 图片名称
 */
@mixin bmgOss($img) {
  background-image: url("#{$bgmUrl}/images#{$img}");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


radio .wx-radio-input {
	border-radius: 50%;
	width: 36rpx;
	height: 36rpx
}

radio .wx-radio-input.wx-radio-input-checked {
	border: 1px solid #2969ff !important;
	background-color: #2969ff !important
}

radio .uni-radio-input {
	border-radius: 50%;
	width: 36rpx;
	height: 36rpx
}

radio .uni-radio-input.uni-radio-input-checked {
	border: 1px solid #2969ff !important;
	background-color: #2969ff !important
}


checkbox .wx-checkbox-input {
	border-radius: 50%;
	width: 38rpx;
	height: 38rpx
}

checkbox .wx-checkbox-input.wx-checkbox-input-checked {
	border: 1px solid #2969ff !important;
	background-color: #2969ff !important;
	color: #fff !important
}

checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
	font-size: 35rpx
}

checkbox .uni-checkbox-input {
	border-radius: 50%;
	width: 38rpx;
	height: 38rpx
}

checkbox .uni-checkbox-input.uni-checkbox-input-checked {
	border: 1px solid #2969ff !important;
	background-color: #2969ff !important;
	color: #fff !important
}

checkbox .uni-checkbox-input.uni-checkbox-input-disabled {
	background-color: #e1e1e1 !important;
	border: 1px solid #e1e1e1 !important;
}

checkbox .uni-checkbox-input.uni-checkbox-input-checked::before {
	font-size: 35rpx
}